<div>
    <h2 id="page-heading">
        <span>Local Que Pode Ser Afetados</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-local-que-pode-ser-afetado" [routerLink]="['/local-que-pode-ser-afetado/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Local Que Pode Ser Afetado
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="localQuePodeSerAfetados?.length === 0">
        <span>No localQuePodeSerAfetados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="localQuePodeSerAfetados && localQuePodeSerAfetados.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span>Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="areaDeRiscoNome"><span>Area De Risco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let localQuePodeSerAfetado of localQuePodeSerAfetados ;trackBy: trackId">
                    <td><a [routerLink]="['/local-que-pode-ser-afetado', localQuePodeSerAfetado.id, 'view']">{{ localQuePodeSerAfetado.id }}</a></td>
                    <td>{{ localQuePodeSerAfetado.nome }}</td>
                    <td>
                        <div *ngIf="localQuePodeSerAfetado.areaDeRiscoId">
                            <a [routerLink]="['/area-de-risco', localQuePodeSerAfetado.areaDeRiscoId , 'view']" >{{ localQuePodeSerAfetado.areaDeRiscoNome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/local-que-pode-ser-afetado', localQuePodeSerAfetado.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/local-que-pode-ser-afetado', localQuePodeSerAfetado.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(localQuePodeSerAfetado)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="localQuePodeSerAfetados && localQuePodeSerAfetados.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
