<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Sistema de Gestão de Mineradora</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Você está autenticado como "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Caso queira </span>
                <a class="alert-link" (click)="login()">acessar</a><span>, você pode tentar a conta padrão:<br/>- Administrator (login="admin" e senha="admin852123") <br/>- User (login="user" e senha="user").</span>
            </div>
        </div>

    </div>
</div>
